body {
  padding-top: 56px;
}

nav.navbar {
  background-color: darkolivegreen;
}

nav.navbar .navbar-nav .nav-item {
	font-size: 18px;
	font-weight: bold;
}

nav.navbar .navbar-nav .nav-link, nav.navbar .navbar-nav .nav-link:hover {
	color: #fff;
	
}
nav.navbar .navbar-nav .nav-link:hover {
	text-decoration: underline;
}

#carouselAside .carousel-control-prev, #carouselSecondary .carousel-control-prev {
	background: #000;
	left: unset;
	right: 31px;
	height: 30px;
}
#carouselAside .carousel-control-next, #carouselSecondary .carousel-control-next {
	background: #000;
	left: unset;
	right: 0;
	height: 30px;
}

footer {
	background-color: saddlebrown;
}